<h1>Andrew Swenson</h1>
<p> Accomplishments:

    <br/>  Bachelor's Degree in Computer Science and Mathematics.
    <br/>          Minnesota State University, Mankato.
    <br/>  Performance Comparison Between DirectX and OpenGL.
</p>
<p> Interests:  Ruby on Rails, Android, and OpenGL</p>
<%= link_to "Back", :back %>
